/* Thin => 200 */
@font-face {
    font-family: "STCForward";
    font-weight: 200;
    font-style: normal;
    src: url("https://poll.laywagif.com/assets/fonts/STCForward-Thin.eot");
    src: url("https://poll.laywagif.com/assets/fonts/STCForward-Thin.woff") format("woff"),
        url("https://poll.laywagif.com/assets/fonts/STCForward-Thin.ttf") format("truetype"),
        url("https://poll.laywagif.com/assets/fonts/STCForward-Thin.svg") format("svg");
}

@font-face {
    font-family: "STCForward";
    font-weight: 200;
    font-style: italic;
    src: url("https://poll.laywagif.com/assets/fonts/STCForward-ThinItalic.eot");
    src: url("https://poll.laywagif.com/assets/fonts/STCForward-ThinItalic.woff") format("woff"),
        url("https://poll.laywagif.com/assets/fonts/STCForward-ThinItalic.ttf") format("truetype"),
        url("https://poll.laywagif.com/assets/fonts/STCForward-ThinItalic.svg") format("svg");
}

/* Light => 300 */
@font-face {
    font-family: "STCForward";
    font-weight: 300;
    font-style: normal;
    src: url("https://poll.laywagif.com/assets/fonts/STCForward-Light.eot");
    src: url("https://poll.laywagif.com/assets/fonts/STCForward-Light.woff") format("woff"),
        url("https://poll.laywagif.com/assets/fonts/STCForward-Light.ttf") format("truetype"),
        url("https://poll.laywagif.com/assets/fonts/STCForward-Light.svg") format("svg");
}

@font-face {
    font-family: "STCForward";
    font-weight: 300;
    font-style: italic;
    src: url("https://poll.laywagif.com/assets/fonts/STCForward-LightItalic.eot");
    src: url("https://poll.laywagif.com/assets/fonts/STCForward-LightItalic.woff") format("woff"),
        url("https://poll.laywagif.com/assets/fonts/STCForward-LightItalic.ttf") format("truetype"),
        url("https://poll.laywagif.com/assets/fonts/STCForward-LightItalic.svg") format("svg");
}

/* Regular => 400 */
@font-face {
    font-family: "STCForward";
    font-weight: 400;
    font-style: normal;
    src: url("https://poll.laywagif.com/assets/fonts/STCForward-Regular.eot");
    src: url("https://poll.laywagif.com/assets/fonts/STCForward-Regular.woff") format("woff"),
        url("https://poll.laywagif.com/assets/fonts/STCForward-Regular.ttf") format("truetype"),
        url("https://poll.laywagif.com/assets/fonts/STCForward-Regular.svg") format("svg");
}

@font-face {
    font-family: "STCForward";
    font-weight: 400;
    font-style: italic;
    src: url("https://poll.laywagif.com/assets/fonts/STCForward-Italic.eot");
    src: url("https://poll.laywagif.com/assets/fonts/STCForward-Italic.woff") format("woff"),
        url("https://poll.laywagif.com/assets/fonts/STCForward-Italic.ttf") format("truetype"),
        url("https://poll.laywagif.com/assets/fonts/STCForward-Italic.svg") format("svg");
}

/* Medium => 500 */
@font-face {
    font-family: "STCForward";
    font-weight: 500;
    font-style: normal;
    src: url("https://poll.laywagif.com/assets/fonts/STCForward-Medium.eot");
    src: url("https://poll.laywagif.com/assets/fonts/STCForward-Medium.woff") format("woff"),
        url("https://poll.laywagif.com/assets/fonts/STCForward-Medium.ttf") format("truetype"),
        url("https://poll.laywagif.com/assets/fonts/STCForward-Medium.svg") format("svg");
}

@font-face {
    font-family: "STCForward";
    font-weight: 500;
    font-style: italic;
    src: url("https://poll.laywagif.com/assets/fonts/STCForward-MediumItalic.eot");
    src: url("https://poll.laywagif.com/assets/fonts/STCForward-MediumItalic.woff") format("woff"),
        url("https://poll.laywagif.com/assets/fonts/STCForward-MediumItalic.ttf") format("truetype"),
        url("https://poll.laywagif.com/assets/fonts/STCForward-MediumItalic.svg") format("svg");
}

/* Bold => 600, 700 */
@font-face {
    font-family: "STCForward";
    font-weight: 700;
    font-style: normal;
    src: url("https://poll.laywagif.com/assets/fonts/STCForward-Bold.eot");
    src: url("https://poll.laywagif.com/assets/fonts/STCForward-Bold.woff") format("woff"),
        url("https://poll.laywagif.com/assets/fonts/STCForward-Bold.ttf") format("truetype"),
        url("https://poll.laywagif.com/assets/fonts/STCForward-Bold.svg") format("svg");
}

@font-face {
    font-family: "STCForward";
    font-weight: 700;
    font-style: italic;
    src: url("https://poll.laywagif.com/assets/fonts/STCForward-BoldItalic.eot");
    src: url("https://poll.laywagif.com/assets/fonts/STCForward-BoldItalic.woff") format("woff"),
        url("https://poll.laywagif.com/assets/fonts/STCForward-BoldItalic.ttf") format("truetype"),
        url("https://poll.laywagif.com/assets/fonts/STCForward-BoldItalic.svg") format("svg");
}

/* Extra Bold => 800 */
@font-face {
    font-family: "STCForward";
    font-weight: 900;
    font-style: normal;
    src: url("https://poll.laywagif.com/assets/fonts/STCForward-ExtraBold.eot");
    src: url("https://poll.laywagif.com/assets/fonts/STCForward-ExtraBold.woff") format("woff"),
        url("https://poll.laywagif.com/assets/fonts/STCForward-ExtraBold.ttf") format("truetype"),
        url("https://poll.laywagif.com/assets/fonts/STCForward-ExtraBold.svg") format("svg");
}

@font-face {
    font-family: "STCForward";
    font-weight: 900;
    font-style: italic;
    src: url("https://poll.laywagif.com/assets/fonts/STCForward-ExtraBoldItalic.eot");
    src: url("https://poll.laywagif.com/assets/fonts/STCForward-ExtraBoldItalic.woff") format("woff"),
        url("https://poll.laywagif.com/assets/fonts/STCForward-ExtraBoldItalic.ttf") format("truetype"),
        url("https://poll.laywagif.com/assets/fonts/STCForward-ExtraBoldItalic.svg") format("svg");
}