// GLOBAL STYLING
@import './fonts';
@import './mob-view';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  font-family: 'STCForward';
  font-weight: normal;
}

body {
  font-size: 18px;
  font-weight: 400;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.stc-footer-template {
  background-color: #fff;
  font-size: 15px;
  width: 100%;
  * {
    color: #868e96 !important;
  }
  .stc-footer--about-stc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 50px;
    flex-wrap: wrap;
    border-bottom: 1px solid #eff3f3;
    .stc-footer--logo {
      display: flex;
      align-items: center;
      img {
        margin-right: 24px;
      }
    }
    .stc-footer--follow-us {
      p {
        margin-bottom: 10px;
      }
      ul {
        display: flex;
        align-items: center;
        li {
          margin-right: 24px;
          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }
  }
  /* stc-footer--copyright */
  .stc-footer--copyright {
    padding: 30px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .stc-footer--copyright-content {
      display: flex;
      align-items: center;
      a {
        display: flex;
        // margin-top: -5px;
        img {
          margin-right: 15px;
        }
      }
    }
    .stc-footer--copyright-links {
      a {
        transition: 0.3s ease-in-out;
        &:hover {
          text-decoration: underline;
        }
      }
      span {
        margin: 0 4px;
      }
    }
  }
}

// Themes
.stc-footer-template.stc-dark-theme {
  background-color: #323643;
  .stc-footer--about-stc {
    border-bottom: 1px solid rgba(239, 243, 243, 0.2);
  }
}

.stc-footer-template.stc-ar {
  direction: rtl;
  .stc-footer--about-stc {
    .stc-footer--logo img {
      margin-left: 24px;
      margin-right: 0;
    }
    .stc-footer--follow-us ul li {
      margin-left: 24px;
      margin-right: 0;
      &:last-of-type {
        margin-left: 0;
      }
    }
  }
  .stc-footer--copyright {
    .stc-footer--copyright-content a img {
      margin-left: 15px;
      margin-right: 0;
    }
  }
}
